   body {
        margin: 0;
    }

    .title {
        color: #0fafff;
        font-size: 2rem;

    }
    .logo-wrapper {
        width: 5rem;
    }

    .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .home-icon {
        width: 80%;
        height: 80%;
        padding: .5rem 0 0 .5rem;
    }

    .space-between {
        justify-content: space-between;
    }

    .menu-wrapper {
        justify-content: space-around;
        align-items: center;
        width: 20rem;
    }

    li {
        list-style: none;
    }
    .card {
        border: 1px solid black;
        display: flex;
        flex-direction: row;
        /* align-items: center; */
        justify-content: center;
        /* text-align: center; */
        max-width: 300px;
        background: #0f4fbf;
        color: white;
        text-align: left;
    }

    .card img {
        width: 100%;
        height: 100%;
    }

    .img-wrapper {
        width: 30%;
        /* height: 100%; */
        /* align-self: start; */
    }

    .card-content-wrapper {
        width: calc(70% - 2rem);
        display: flex;
        flex-direction: column;
        justify-content: start;
        text-align: left;
        padding: 1rem 1rem 0 1rem;
        margin: 0;
    }

    .flex {
        display: flex;
    }


    .row-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 2rem;
    }

    .column-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 2rem;
        width: 100%;
    }

    .top-nav {
        background: #ffaf0f;
        color: white;
        height: 5rem;
        width: 100%;

    }

    .side-nav {
        background: #0fafff;
        color: white;
        height: 100%;
        width: 5rem;

    }
    .side-nav {
        background: #0fffff;
        color: white;
        height: 100%;
        width: 5rem;

    }

    .under-nav {
        background: #030f0f;
        color: white;
        height: calc(100vh - 5rem);
        width: 100%;
        position: relative;
    }

    .main {
        background: #030f0f;
        width: 100%;
    }
